@import 'tailwindcss';
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #bd5c50;
  --color-secondary: #bfb4ab;
  --color-accent: #a69d8c;
  --color-nav-btn-bg: var(--nav-btn-bg);
  --color-nav-btn-text: var(--nav-btn-text);
  --color-nav-btn-border: var(--nav-btn-border);

  --color-ac-btn-bg: var(--ac-btn-bg);
  --color-ac-btn-text: var(--ac-btn-text);
  --color-ac-btn-border: var(--ac-btn-border);
  --font-sans: var(--font-golos-text), sans-serif;
  --font-mono: var(--font-golos-text), sans-serif;

  --color-success: var(--success);
  --color-success-text: var(--success-text);
  --color-error: var(--error);
  --color-error-text: var(--error-text);
  --color-info: var(--info);
  --color-info-text: var(--info-text);
  --color-warning: var(--warning);
  --color-warning-text: var(--warning-text);

  --color-general: var(--general);
  --color-general-text: var(--general-text);
  --color-stats: var(--stats);
  --color-stats-text: var(--stats-text);
  --color-donate: var(--donate);
  --color-donate-text: var(--donate-text);

  --color-border-heavy: var(--border-heavy);
}

:root {
  --background: #f7f2e8;
  --foreground: #493d3c;

  --nav-btn-bg: #7e6b69;
  --nav-btn-text: #f7f2e8;
  --nav-btn-border: #5f4f4e;

  --ac-btn-bg: rgba(0, 0, 0, 0.05);
  --ac-btn-text: #493d3c;
  --ac-btn-border: #493d3c;

  /* Semantic UI Tokens (Light Mode) */
  --success: #8ba382;
  --success-text: #22301d;

  --error: #c76a61;
  --error-text: #f7f2e8;

  --info: #788fa1;
  --info-text: #1e2933;

  --warning: #d9a05b;
  --warning-text: #3d2711;

  --general: #949c99;
  --general-text: #222926;

  --stats: #9c84ab;
  --stats-text: #2c1a38;

  --donate: #c98595;
  --donate-text: #3d1b24;

  --border-heavy: #5f4f4e;
}

:root.dark {
  --background: #231d1c;
  --foreground: #f7f2e8;

  --nav-btn-bg: rgba(0, 0, 0, 0.05);
  --nav-btn-text: #493d3c;
  --nav-btn-border: #493d3c;

  --ac-btn-bg: #7e6b69;
  --ac-btn-text: #f7f2e8;
  --ac-btn-border: #5f4f4e;

  /* Semantic UI Tokens (Dark Mode) */
  --success: #3b4a37;
  --success-text: #e1edd8;

  --error: #5c2a25;
  --error-text: #fccbc5;

  --info: #2e3d4a;
  --info-text: #d4e3f0;

  --warning: #5c4121;
  --warning-text: #fce7cf;

  --general: #363d3a;
  --general-text: #e0e8e4;

  --stats: #483354;
  --stats-text: #ead4f7;

  --donate: #542b35;
  --donate-text: #f7d2dc;

  --border-heavy: #d4d4d4;
}

@layer base {
  html {
    height: 100%;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-golos-text), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  html.dark {
    color-scheme: dark;
  }
}
